.buycar-nav {
    width: 100%;
    position: fixed;
    top: 0;
    height: 1.173333rem /* 44/37.5 */;
    display:flex;
    justify-content: center;
    align-items: center;
}
.buycar-nav-item {
    width: 25%;
    text-align: center;
    font-size: .426667rem /* 16/37.5 */;
}
.active {
    color: red;
  }
.buycar-navcontent {
    /* margin-top: 20px; */
    height: 100vh;
    overflow-y: scroll;
}
.buycar-carinfo {
    height: 16rem /* 600/37.5 */;
    font-size: .426667rem /* 16/37.5 */;
    background-color: green;
}
.buycar-carcheck {
    width: 100%;
    margin-top: .266667rem /* 10/37.5 */;
    padding: 0 .533333rem /* 20/37.5 */;
    box-sizing: border-box;
}
/* .buycar-service {
} */
.buycar-recommend {
    height: 26.666667rem /* 1000/37.5 */;
    background-color: blue;
}
.buycar-title{
    font-size: .426667rem /* 16/37.5 */;
    padding-left: 0 !important;
}
.buycar-item-top-text {
    font-size: .32rem /* 12/37.5 */;
    color: #5f666f;
}
.buycar-carcheck-top, .buycar-service-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buycar-carcheck-master {
    width: 100%;
    height: 2.133333rem /* 80/37.5 */;
    padding: .266667rem /* 10/37.5 */ 0;
    display: flex;
    align-items: center ;
    justify-content: space-between;
    box-sizing: border-box;
}
.buycar-carcheck-master__avatar {
    width: 1.333333rem /* 50/37.5 */;
    height: 1.333333rem /* 50/37.5 */;
    margin-right: .266667rem /* 10/37.5 */;
}
.buycar-carcheck-master__avatar > img {
    border-radius: .666667rem /* 25/37.5 */;
}
.buycar-carcheck-master-info {
    flex: 1;

}
.buycar-carcheck-master__name {
    font-size: .426667rem /* 16/37.5 */;
}
.buycar-carcheck-master__desc  {
    font-size: .32rem /* 12/37.5 */;
    color: #5f666f;
}
.buycar-carcheck-block {
    display: block;
}

.buycar-carcheck-master__button {
    width: 2.133333rem /* 80/37.5 */;
    font-size: .32rem /* 12/37.5 */ ;
    background-color: #21ae37;
    color: #fff;
    border: none;
}
button {
    height: .8rem /* 30/37.5 */;
    border-radius: .08rem /* 3/37.5 */;
}
.buycar-carcheck-checkresult {
    border-radius: 3px;
    border: 1px solid #fff;
    box-shadow: 0 0 5px 2px #f5f5f5;
    font-size: 12px;
}
.buycar-carcheck-checkresult-text {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.buycar-carcheck-checkresult-link {
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-top: 1px solid #f5f5f5;
}
.buycar-carcheck-detail {
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 14px;
}
.buycar-carcheck-detail-tab {
    display: block;
    flex: 1;
    text-align: center;
}
.buycar-carcheck-check-wrap {
    width: 100%;
    box-shadow: 0 0 3px 3px #f5f5f5;
    font-size: 12px;
    border-radius: 3px;
}
.youxiu, .lianghao {
    color: #23ad39;
}
.yiban {
    color: #ffa600;
}
.buycar-carcheck-check-top {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #eef9ee;
    color: #303740;
    border: 1px solid #dcedde;
    box-sizing: border-box;
    border-radius: 3px 3px 0 0;
}
.buycar-carcheck-check-shigupaicha {
    height: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
}
.buycar-carcheck-check-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: bold;
}
.buycar-carcheck-check-item {
    width: 50%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}
.buycar-carcheck-check-item > span {
    display: block;
    margin-bottom: 5px;
}
.buycar-carcheck-check-item:nth-child(2n) {
    border-top: 1px solid #f5f5f5;
}
.buycar-carcheck-check-item:nth-child(2n+1) {
    border-top: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
}
.buycar-carcheck-report-link {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 12px;
}
.buycar-carcheck-problem-desc {
    font-size: 12px;
}
.buycar-carcheck-problem-text {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.buycar-service-top {
    padding: 0 20px;
    border-bottom: 1px solid #f5f5f5;
}
.buycar-service-iconwrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.buycar-service-iconitem {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80px;
}
.buycar-service-icon {
    width: 2em;
    height: 2em;
    fill: currentColor;
    display: block;
    margin-bottom: 5px;
}
.buycar-service-icontext {
    font-size: 12px;
}
/* .buycar-service-detailwrap {
    
} */
.buycar-service-detailitem {
    margin: 0 20px;
    padding: 10px 10px;
    box-shadow: 0 0 3px 3px #f5f5f5;
    border-radius: 3px;
    font-size: 12px;
}
.buycar-service-detailitem-top {

    display: flex;
    justify-content:space-between;
    flex-direction: row;
    margin: 10px 0;
}
.buycar-service-detailitem-top > span {
    display: block;
}
.buycar-service-detailitem-desc {
    display: block;
    margin-bottom: 10px;
}
.font-weight {
    font-weight: bold;
}
.buycar-service-active {
    color: #21ae37;
}
.padding {
    padding: 0 20px;
}
.buycar-service-question-wrap {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    flex-direction: row;
    flex-wrap: wrap;
}
.buycar-service-question-wrap > span {
    display: block;
    width: 31%;
    margin-right: 10px;
    text-align: center;
    background-color: #f5f8fa;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}
.buycar-service-question-wrap > span:nth-child(3n) {
    margin-right: 0;
}