.setting {
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: red;
}

.phone-and-button {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

.mine-phone {
    flex: 3;
    text-align: left;
    font-size: 17px;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
}

.btn {
    flex: 1.5;
    height: 30px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    padding: 0 5px;
    line-height: 30px;
    color: #fff;
    background-color: #5f666f;
    box-sizing: border-box;
    border-radius: 30px 0 0 30px;
}

.btn:after {
    content: '';
    display: block;
    clear: right;
}

.items {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 100%;
    height: 60px;
    text-align: center;
}

.item {
    height: 100%;
    flex: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item-num {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

.icon {
    width: 2em;
    height: 2em;
    fill: currentColor;
    display: block;
}

.text {
    font-size: 13px;
}

.white-line {
    width: 100%;
    height: 5px;
    margin: 10px 0;
    background-color: #f5f8fa;
}

.myshare-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f8fa;
    margin: 10px 10px;
    height: 60px;
}

.myshare-item {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.origine-color {
    display: block;
    font-size: 20px;
    color: #ff6f40;
}

.word {
    font-size: 13px;
}

h3 {
    font-size: 15px;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.common-func-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 13px;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

.common-func-item {
    display: flex;
    width: 25%;
    height: 60px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* .recommend {
    
} */
.recommend-items {
    padding: 0 10px;
    box-sizing: border-box;
    width: 100%;
}
.recommend-item {
    width: 100%;
    height: 120px;
    display: flex;
    box-sizing: border-box;
    padding: 15px 0;
    border-bottom: 1px solid #000;
}
.car-img-wrapper {
    width: 130px;
    height: 90px;
}
.car-img-wrapper img {
    border-radius: 3px;
}
.car-info {
    flex: 1;
    margin-left: 10px;
}
.car-desc {
    font-size: 11px;
    display: block;
    margin-bottom: 3px;
}
.car-name {
    display: block;
    height: 50px;
    font-size: 15px;
    word-wrap: break-word;
}
.car-price {
    font-size: 14px;
    display: block;
    color: #ff6f40;
}
/* .line {
    position:relative;
}
.line:before{

    content: "";
    display: block; 
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    color: #d9d9d9;
    top: 0;
    border-top: 1px solid #d9d9d9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
} */