header {
    width: 100%;
    height: 1.173333rem /* 44/37.5 */;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    display: flex;
    align-items: center;
}
.mine-header-blank{
    width: 90%;
}
.mine-setting {
    flex: 1;
    font-size: .266667rem /* 10/37.5 */ ;
} 


.mine-phone-button {
    height: 1.333333rem /* 50/37.5 */;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-top: 40px; */
}

.mine-phone {
    flex: 3;
    text-align: left;
    font-size: .453333rem /* 17/37.5 */;
    display: inline-block;
    height: 1.333333rem /* 50/37.5 */ ;
    line-height: 1.333333rem /* 50/37.5 */;
    padding-left: .266667rem /* 10/37.5 */;
}

.mine-button {
    flex: 1.5;
    height: .8rem /* 30/37.5 */;
    display: inline-block;
    font-size: .373333rem /* 14/37.5 */;
    text-align: center;
    padding: 0 .133333rem /* 5/37.5 */;
    line-height: .8rem /* 30/37.5 */;
    color: #fff;
    background-color: #5f666f;
    box-sizing: border-box;
    border-radius: .8rem /* 30/37.5 */ 0 0 .8rem /* 30/37.5 */ ;
}

.mine-button:after {
    content: '';
    display: block;
    clear: right;
}

.mine-items {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .373333rem /* 14/37.5 */;
    margin-top: .266667rem /* 10/37.5 */;
    width: 100%;
    height: 1.6rem /* 60/37.5 */;
    text-align: center;
}

.mine-item {
    height: 100%;
    flex: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mine-item-num {
    font-weight: bold;
    font-size: .426667rem /* 16/37.5 */;
    margin-bottom: .133333rem /* 5/37.5 */;
}

.mine-icon {
    width: 2em;
    height: 2em;
    fill: currentColor;
    display: block;
}

.mine-text {
    font-size: .346667rem /* 13/37.5 */;
}

.white-line {
    width: 100%;
    height: .133333rem /* 5/37.5 */;
    margin: .266667rem /* 10/37.5 */0;
    background-color: #f5f8fa;
}

.mine-myshare-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f8fa;
    margin: .266667rem /* 10/37.5 */ .266667rem /* 10/37.5 */;
    height: 1.6rem /* 60/37.5 */;
}

.mine-myshare-item {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.origine-color {
    display: block;
    font-size: .533333rem /* 20/37.5 */;
    color: #ff6f40;
}
.coupon::after {
    content: 'å¼ ';
    font-size: .32rem /* 12/37.5 */;
    margin-left: .08rem /* 3/37.5 */;
    /* color: red; */
}
.mine-word {
    font-size: .346667rem /* 13/37.5 */;
}

h3 {
    font-size: .4rem /* 15/37.5 */;
    padding-left: .266667rem /* 10/37.5 */;
    padding-top: .266667rem /* 10/37.5 */;
    margin-bottom: .266667rem /* 10/37.5 */;
}

.mine-common-items {
    display: flex;
    /* align-items: center; */
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: .346667rem /* 13/37.5 */;
    width: 100%;
    padding: 0 .266667rem /* 10/37.5 */;
    box-sizing: border-box;
}

.mine-common-item {
    display: flex;
    width: 25%;
    height: 1.6rem /* 60/37.5 */;
    align-items: center;
    flex-direction: column;
}
/* .recommend {
    
} */
.mine-recommend-banner {
    width: 100%;
    height: 2.133333rem /* 80/37.5 */;
    padding: .266667rem /* 10/37.5 */;
    box-sizing: border-box;
}
.mine-recommend-items {
    padding: 0 .266667rem /* 10/37.5 */;
    box-sizing: border-box;
    width: 100%;
}

/* .line {
    position:relative;
}
.line:before{

    content: "";
    display: block; 
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    color: #d9d9d9;
    top: 0;
    border-top: 1px solid #d9d9d9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
} */